<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">

    <title>Financial Robot | NTUSTIM</title>

   
    <link href="/stylesheets/about.css" rel="stylesheet">
  </head>

  <body>
    <div class="contenter">
      <ui class="nav-area">
        <li class="nav"><a href="./index">HOME</a></li>
        <li class="nav"><a href="./about">ABOUT</a></li>
        <li class="nav"><a href="./suggestion">SUGGESTION</a></li>
        <li class="nav"><a href="./chart">CHART</a></li>
      </ui>
      <div class="title">
        <div class="title_offer">What we offer?</div>
        <hr class="bar_area">
        <hr class="bar_yellow">
        <h1 class="title_fin">OPERATING INSTRUCTIONS <br>&INTRODUCTION</h1>
        <p class="subtitle">MARKET FORCAST TOOL MARKET FORCAST TOOL MARKET FORCAST TOOL</p>
        <div class="title_triangle"></div>
      </div>
    <div class="subtitle">
      
    </div>
      <img class="header"src="/images/p2_1.jpg" alt="">
  </div>
  <div class="contenter">
    <h2 class="about_us">STEP BY STEP</h2>
    <p class="about_subtitle">agsdgsdgsdsgadvdvdfbdfbdfbdfb
  
  　　</p>
      <div class="about_area">
        <div class="about_section">
          <img src="/images/p2_02.jpg" class="about_img"alt="">
          <div class="about_block">
            <p class="about_text">Data</p>
            <p class="about_content">dfsdfsdgdfgfdgdfgd</p>
            <div class="about_triangle"></div>
          </div>
        </div>
        <div class="about_section">
          <img src="/images/p2_03.jpg" class="about_img"alt="">
          <div class="about_block">
            <p class="about_text">Modeling</p>
            <p class="about_content">dfsdfsdgdfgfdgdfgd</p>
            <div class="about_triangle"></div>
          </div>
        </div>
        <div class="about_section">
          <img src="/images/p2_04.jpg" class="about_img"alt="">
          <div class="about_block">
            <p class="about_text">Calculate</p>
            <p class="about_content">dfsdfsdgdfgfdgdfgd</p>
            <div class="about_triangle"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="contenter instr">
    <p class="instr_title">INSTRUCTIONS</p>
    <div class="instr_block">
      <img class="instr_img"src="/images/p2_05.png" alt="">
      <div class="instr_hr"></div>
        <div class="instr_text">gdfgdfgdsfgdfsfgsdfgdf</div>
    </div>
    <div class="instr_block">
      <div class="instr_text">gdfgdfgdsfgdfsfgsdfgdf</div>
      <div class="instr_hr2"></div>
      <img class="instr_img2"src="/images/p2_06.png" alt="">
    </div>
    
  </div>
  

  
</body>
</html>