
<html>
    <body>
        <form  name="enterVariable" action="./backend"method="POST">
            請輸入變數 : 
            <br><input type="text" id="a">
            <input type="submit">
        </form>
        
    </body>
    
</html>




