<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">

    <title>Financial Robot | NTUSTIM</title>

    <!-- <script src="/javascripts/predictDegree.js"></script> -->
    <link href="/stylesheets/backend.css" rel="stylesheet">
    
  
</head>

<body>
        <form  name="enterVariable" action="./backend"method="POST">
            請輸入變數 : 
            <br><input type="text" name="a">
            <br><input type="text" name="b">
            <br><input type="text" name="c">
            <br><input type="text" name="d">
            <br><input type="text" name="e">
            <br><input type="text" name="f">
            <br><input type="text" name="g">
            <br><input type="text" name="h">
            <br><input type="text" name="i">
            <br><input type="text" name="j">
            <br><input type="text" name="k">
            <br><input type="text" name="l">
            <input type="submit">
        </form>
    <div class="contenter footer_area">
        <div class="footer_school">
          <p class="footer_title">NTUST</p>
          <p class="footer_text">No.43, Keelung Rd., Sec.4, Da'an Dist., Taipei City 10607, Taiwan</p>
        </div>
        <div class="footer_contact">
          <p class="footer_title">CONTACT</p>
          <ui >
            <li class="footer_text">email</li>
            <li class="footer_text">phone</li>
            <li class="footer_text">address</li>
          </ui>
        </div>
        <div class="footer_department">
          <p class="footer_title">DEPARTMENT</p>
          <ui >
            <li class="footer_text">Computer Science</li>
            <li class="footer_text">Management</li>
            <li class="footer_text">Engineering</li>
          </ui>
        </div>
        <div class="footer_language">
          <p class="footer_title">LANGUAGE</p>
          <ui >
            <li class="footer_text">email</li>
            <li class="footer_text">phone</li>
            <li class="footer_text">address</li>
          </ui>
        </div>
        <hr class="footer_hr">
        <div class="footer_text footer_logo">© 2018 NTUSTMI</div>
        <img class="banner" height="100%"src="/images/3.jpg" alt="">
    </div>
  
</body>
</html>





