<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/series-label.js"></script>
        <script src="https://img.hcharts.cn/highcharts/modules/oldie.js"></script>
        <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
        <script src="https://img.hcharts.cn/highcharts/themes/dark-unica.js"></script>
    <title>Financial Robot | NTUSTMI</title>

    
    <link href="/stylesheets/chart.css" rel="stylesheet">
  </head>

  <body>
    <div class="contenter nav-block">
        <ui class="nav-area">
          <li class="nav"><a href="./index">HOME</a></li>
          <li class="nav"><a href="./about">ABOUT</a></li>
          <li class="nav"><a href="./suggestion">SUGGESTION</a></li>
          <li class="nav"><a href="./chart">CHART</a></li>
        </ui>
    </div>
    <div class="contenter suggest_block">
       <div class="left_block">
         <p>If you put <p class="left_text">10</p> dollars </p><br>
         <p>into the market on</p>
          <input class="date"type="date" name="bday">
          <br><br><br><br>
          <p>Your invest income <br>would be like ....</p>
        
       </div>
       <div class="right_block">
            <div class="chart" id="container"></div>
        </div>

      </div>
        <div class="contenter footer_area">
            <div class="footer_school">
              <p class="footer_title">NTUST</p>
              <p class="footer_text">106台北市大安區基隆路四段43號</p>
            </div>
            <div class="footer_contact">
              <p class="footer_title">CONTACT</p>
              <ui >
                <li class="footer_text">email</li>
                <li class="footer_text">phone</li>
                <li class="footer_text">address</li>
              </ui>
            </div>
            <div class="footer_department">
              <p class="footer_title">DEPARTMENT</p>
              <ui >
                <li class="footer_text">Computer Science</li>
                <li class="footer_text">Management</li>
                <li class="footer_text">Engineering</li>
              </ui>
            </div>
            <div class="footer_language">
              <p class="footer_title">LANGUAGE</p>
              <ui >
                <li class="footer_text">email</li>
                <li class="footer_text">phone</li>
                <li class="footer_text">address</li>
              </ui>
            </div>
            <hr class="footer_hr">
            <div class="footer_text footer_logo">© 2018 NTUSTMI</div>
            <img class="banner" height="100%"src="/images/3.jpg" alt="">
          </div>

     
</body>
    <script src="javascripts/chart.js"></script>
</html>