<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">

    <title>i-Fund Manager | NTUSTIM</title>

   
    <link href="/stylesheets/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="contenter">
      <ui class="nav-area">
        <li class="nav"><a href="./index">HOME</a></li>
        <li class="nav"><a href="./about">ABOUT</a></li>
        <li class="nav"><a href="./suggestion">SUGGESTION</a></li>
        <li class="nav"><a href="./chart">CHART</a></li>
      </ui>
      <div class="title">
        <div class="title_hr"> </div>
        <h1 class="title_fin">i-Fund <br>Manager</h1>
        <p class="subtitle">Market Forecasting Machine</p>
      </div>
      <img class="banner"src="/images/1.jpg" alt="">
    </div>
  <div class="contenter">
    <h2 class="about_us">關於我們</h2>
    <p class="about_text">
  
      我們是來自管不分的學生
    
  
  　　</p>
      <div class="about_area">
        <p class="about_num">300</p>
        <p class="about_t">days.</p>
        <p class="about_num">4</p>
        <p class="about_t">members.</p>
        <img class="about_img" src="/images/infinity.png" height="60px" width="60px">
        <p class="about_t">data.</p>
      </div>
  </div>
  <div class="contenter concept">
    <div>
      <img class="concept_img"src="/images/2.jpg">
    </div>
    <div class="concept_text">
      <hr class="concept_hr">
      <p class="concept_title">概念</p><br>
      <p class="concept_content">我們採用總經指標作為參數進行機器學習去對未來景氣趨勢做預測。<br>
        總經指標會比其他領先指標更穩定，使得我們的預測更可靠。
      </p>
      <div class="section_inv">
        <img class="icon"src="https://goo.gl/a7jXri" >
        <div class="concept_field">投資</div>
      </div>
        <div class="section_trend">
          <img class="icon"src="https://goo.gl/a7jXri" >
          <div class="concept_field">趨勢</div>
        </div>
        <div class="section_ml">
          <img class="icon"src="https://goo.gl/a7jXri" >
          <div class="concept_field">機器學習</div>
        </div>
      </div>
    </div>
  <div class="contenter info_area">
    <div class="info_news">
      <hr class="concept_hr">
      <p class="info_title">合作</p>
      <img width="150px"height="150px"src="/images/images-1.jpg">
      <p class="info_name">證券投資信託公司</p>
     <!-- <a class="info_link"href="https://www.fhtrust.com.tw/">LEARN MORE>></a> -->
    </div>
    <div class="info_pro">
      <hr class="concept_hr">
      <p class="info_title">指導教授</p>
      <img width="150px"height="150px"src="/images/t.jpg">
      <p class="info_name">查士朝 教授 </p>
      
    </div>
    <div class="info_mem">
      <hr class="concept_hr">
      <p class="info_title">MEMBER</p>
      <ui style="list-style-type:none">
        <li class="info_mName">@wenhui_hsiao</li>
        <li class="info_mName">@shuuuting</li>
        <li class="info_mName">@arstajen</li>
        <li class="info_mName">@kuochen_</li>
      </ui>
    </div>
  </div>
  
  <div class="contenter footer_area">
    <div class="footer_school">
      <p class="footer_title">臺灣科技大學</p>
      <p class="footer_text">台北市大安區基隆路4段43號<br>Tel:886-2-27333141</p>
    </div>
    <div class="footer_contact">
      <p class="footer_title">聯絡方式</p>
      <ui >
        <li class="footer_text">信箱</li>
        <li class="footer_text">電話</li>
        <li class="footer_text">地址</li>
      </ui>
    </div>
    <div class="footer_department">
      <p class="footer_title">跨領域</p>
      <ui >
        <li class="footer_text">財務金融</li>
        <li class="footer_text">資訊管理</li>
        <li class="footer_text">機器學習</li>
      </ui>
    </div>
    <div class="footer_language">
      <p class="footer_title">更多資訊</p>
      <ui >
        <li class="footer_text">coursera</li>
        <li class="footer_text">youtube</li>
        <li class="footer_text">github</li>
      </ui>
    </div>
    <hr class="footer_hr">
    <div class="footer_text footer_logo">© 2018 NTUSTMI</div>
    <img class="banner" height="100%"src="/images/3.jpg" alt="">
  </div>

  
</body>
</html>