<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">

  <title>Financial Robot | NTUSTIM</title>


  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <script src="javascripts/ie-emulation-modes-warning.js.下載"></script>
  <script src="javascripts/predictDegree.js"></script>
  <link href="stylesheets/carousel.css" rel="stylesheet">
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
 
</head>
<!-- NAVBAR
================================================== -->
  <body>
      
    <div class="navbar-wrapper">
      <div class="container">
          <a name="top" id="top">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <font face = "微軟正黑體"> <a class="navbar-brand" href="/">Financial Robot</a></font>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                
                <li><a href="./predict">Predict</a></li>
                <li><a href="./about">About</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class="col-md-7">
            <a name="robot"  id="robot">
                <button type="button" onclick="setType(1)">冒險</button>
                <button type="button" onclick="setType(2)">保守</button>
      </div>
      <div class="row featurette">
        <a name="robot"  id="robot">
        <div class="col-md-7">
          <h2 class="featurette-heading">目前預測景氣指標 <br> 
           
            <span id="degree" class="text-muted">上升</span>
          </h2>
          <font face = "微軟正黑體">
            <p class="lead">目前建議配置 : </p>
          </font>
        </div>
      </div>
      <div class="row featurette">
        <table  width="800" border="1" >
          　<tr>
          　<td>配置一</td>
          　<td>配置二</td>
            <td>配置三</td>
          　<td>配置四</td>
          　</tr>
          　<tr>
            　<td id="confi_1">15%</td>
            　<td id="confi_2">25%</td>
              <td id="confi_3">25%</td>
            　<td id="confi_4">35%</td>
            　</tr>
          </table>
        
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <a name="story" id="story">
        <div class="col-md-7">
          <h2 class="featurette-heading">過去預測配置與5050配置比較折線圖<br><span class="text-muted">選時間</span></h2>
          <p class="lead">應該可以用PowerBI做動態折線圖</p>
          <font face = "微軟正黑體" size="3" >
            <p3 class="lead">QQQ</p3>

        </div>
        <div class="row featurette">
          <img class="featurette-image img-responsive center-block"  alt="500x500" src="images/21.png" data-holder-rendered="true">
      
        </div>
        <div class="row featurette">
          <img class="featurette-image img-responsive center-block"  alt="500x500" src="images/22.png" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        
        <p>© 2018 NTUSTIM</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery.min.js.下載"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="javascripts/bootstrap.min.js.下載"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="javascripts/holder.min.js.下載"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/ie10-viewport-bug-workaround.js.下載"></script>
  
<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body></html>