<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">

    <title>i-Fund Manager | NTUSTIM</title>

    <!-- <script src="/javascripts/predictDegree.js"></script> -->
    <link href="/stylesheets/suggestion.css" rel="stylesheet">
    <script>
      var test = "<%= test %>";
      var degree="<%= degree %>";
      console.log(test);
      console.log(degree);
      function setType(type){
        if(type==1){
        var typeString="冒險";
        document.getElementById("aggressive").style.color="#FFD43A";
        document.getElementById("conservative").style.color="white";
        if(degree==2){
          document.getElementById("box1").innerHTML=("30%"); 
          document.getElementById("box2").innerHTML=("60%"); 
          document.getElementById("box3").innerHTML=("10%"); 
          document.getElementById("box4").innerHTML=("0%");
        }
        if(degree==1){
          document.getElementById("box1").innerHTML=("25%"); 
          document.getElementById("box2").innerHTML=("60%"); 
          document.getElementById("box3").innerHTML=("10%"); 
          document.getElementById("box4").innerHTML=("5%");
        }
        if(degree==3){
          document.getElementById("box1").innerHTML=("20%"); 
          document.getElementById("box2").innerHTML=("70%"); 
          document.getElementById("box3").innerHTML=("5%"); 
          document.getElementById("box4").innerHTML=("5%");
        }
        if(degree==4){
          document.getElementById("box1").innerHTML=("0%"); 
          document.getElementById("box2").innerHTML=("20%"); 
          document.getElementById("box3").innerHTML=("0%"); 
          document.getElementById("box4").innerHTML=("80%");
        }
         
        }
        if(type==2){
          var typeString="保守";
          document.getElementById("aggressive").style.color="white";
          document.getElementById("conservative").style.color="#FFD43A";
          if(degree==2){
          document.getElementById("box1").innerHTML=("60%"); 
          document.getElementById("box2").innerHTML=("25%"); 
          document.getElementById("box3").innerHTML=("5%"); 
          document.getElementById("box4").innerHTML=("10%");
          }
          if(degree==1){
            document.getElementById("box1").innerHTML=("10%"); 
            document.getElementById("box2").innerHTML=("15%"); 
            document.getElementById("box3").innerHTML=("5%"); 
            document.getElementById("box4").innerHTML=("70%");
          }
          if(degree==3){
            document.getElementById("box1").innerHTML=("30%"); 
            document.getElementById("box2").innerHTML=("20%"); 
            document.getElementById("box3").innerHTML=("10%"); 
            document.getElementById("box4").innerHTML=("40%");
          }
          if(degree==4){
            document.getElementById("box1").innerHTML=("0%"); 
            document.getElementById("box2").innerHTML=("20%"); 
            document.getElementById("box3").innerHTML=("5%"); 
            document.getElementById("box4").innerHTML=("75%");
          }
        }
      }
      
    </script>
  </head>

  <body>
    <div class="contenter nav-block">
        <ui class="nav-area">
          <li class="nav"><a href="./index">HOME</a></li>
          <li class="nav"><a href="./about">ABOUT</a></li>
          <li class="nav"><a href="./suggestion">SUGGESTION</a></li>
          <li class="nav"><a href="./chart">CHART</a></li>
        </ui>
    </div>
    <div class="contenter suggest_block">
       <div class="left_block">
         <div class="left_container">
           <img class="photo"src="/images/p3_1.jpg">
           <p class="left_title" id="aggressive"onclick="setType(1)">積極</p>
         </div>
         <div class="left_container">
           <img class="photo"src="/images/p3_2.jpg" alt="">
           <p class="left_title"id="conservative"onclick="setType(2)">保守</p>
         </div>
         
         <p class="left_text">請選擇您的投資偏好</p>
         <hr>
       </div>
       
       
       <div class="right_block">
         <div class="state_block">
           <p class="title">現今景氣階段</p>
           <hr>
           <div class="state_text_block">
             <p class="state" id="state"><%= test %></p>
             <p class="text">說明</p>
           </div>
         </div>
         <div class="suggest_block">
           <p class="title">我們的建議</p>
           <hr>
           <div class="s_block">
             <div class="box1">
               <p class="box_title">股票型基金</p>
               <p class="box_num" id="box1">-</p>
             </div>
             <div class="box2">
               <p class="box_title">新興市場債基金</p>
               <p class="box_num"id="box2">-</p>
             </div>
             <div class="box3 ">
               <p class="box_title">高收益債基金</p>
               <p class="box_num"id="box3">-</p>
             </div>
             <div class="box4" >
               <p class="box_title">投資等級債基金</p>
               <p class="box_num"id="box4">-</p>
             </div>
           
            </div>
         </div>
       </div>
     </div>
     <div class="contenter footer_area">
      <div class="footer_school">
        <p class="footer_title">臺灣科技大學</p>
        <p class="footer_text">台北市大安區基隆路4段43號<br>Tel:886-2-27333141</p>
      </div>
      <div class="footer_contact">
        <p class="footer_title">聯絡方式</p>
        <ui >
          <li class="footer_text">信箱</li>
          <li class="footer_text">電話</li>
          <li class="footer_text">地址</li>
        </ui>
      </div>
      <div class="footer_department">
        <p class="footer_title">跨領域</p>
        <ui >
          <li class="footer_text">財務金融</li>
          <li class="footer_text">資訊管理</li>
          <li class="footer_text">機器學習</li>
        </ui>
      </div>
      <div class="footer_language">
        <p class="footer_title">更多資訊</p>
        <ui >
          <li class="footer_text">coursera</li>
          <li class="footer_text">youtube</li>
          <li class="footer_text">github</li>
        </ui>
      </div>
      <hr class="footer_hr">
      <div class="footer_text footer_logo">© 2018 NTUSTMI</div>
      <img class="banner" height="100%"src="/images/3.jpg" alt="">
    </div>
  
</body>
</html>