<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon"type="image/x-icon" href="favicon.ico">

    <title>Financial Robot | NTUSTIM</title>

    <!-- <script src="/javascripts/predictDegree.js"></script> -->
    <link href="/stylesheets/suggestion.css" rel="stylesheet">
    <script>
      var test = "<%= test %>";
      var degree="<%= degree %>";
      console.log(test);
      console.log(degree);
      function setType(type){
        if(type==1){
        var typeString="冒險";
        document.getElementById("aggressive").style.color="#FFD43A";
        document.getElementById("conservative").style.color="white";
        document.getElementById("box1").innerHTML=(degree); 
        }
        if(type==2){
          var typeString="保守";
          document.getElementById("aggressive").style.color="white";
          document.getElementById("conservative").style.color="#FFD43A";
          document.getElementById("box1").innerHTML=("30%");
        }
      }
      
    </script>
  </head>

  <body>
    <div class="contenter nav-block">
        <ui class="nav-area">
          <li class="nav"><a href="./index">HOME</a></li>
          <li class="nav"><a href="./about">ABOUT</a></li>
          <li class="nav"><a href="./suggestion">SUGGESTION</a></li>
          <li class="nav"><a href="./chart">CHART</a></li>
        </ui>
    </div>
    <div class="contenter suggest_block">
       <div class="left_block">
         <div class="left_container">
           <img class="photo"src="/images/p3_1.jpg">
           <p class="left_title" id="aggressive"onclick="setType(1)">AGGRESSIVE</p>
         </div>
         <div class="left_container">
           <img class="photo"src="/images/p3_2.jpg" alt="">
           <p class="left_title"id="conservative"onclick="setType(2)">CONSERVATIVE</p>
         </div>
         
         <p class="left_text">Your investment preference</p>
         <hr>
       </div>
       
       
       <div class="right_block">
         <div class="state_block">
           <p class="title">Current Market State</p>
           <hr>
           <div class="state_text_block">
             <p class="state" id="state"><%= test %></p>
             <p class="text">說明</p>
           </div>
         </div>
         <div class="suggest_block">
           <p class="title">Our Suggestion</p>
           <hr>
           <div class="s_block">
             <div class="box1">
               <p class="box_title">stock</p>
               <p class="box_num" id="box1"><%= degree %></p>
             </div>
             <div class="box2">
               <p class="box_title">stock</p>
               <p class="box_num"id="box2">50%</p>
             </div>
             <div class="box3 ">
               <p class="box_title">stock</p>
               <p class="box_num"id="box3">50%</p>
             </div>
             <div class="box4" >
               <p class="box_title">stock</p>
               <p class="box_num"id="box4">50%</p>
             </div>
           
            </div>
         </div>
       </div>
     </div>
     <div class="contenter footer_area">
        <div class="footer_school">
          <p class="footer_title">NTUST</p>
          <p class="footer_text">No.43, Keelung Rd., Sec.4, Da'an Dist., Taipei City 10607, Taiwan</p>
        </div>
        <div class="footer_contact">
          <p class="footer_title">CONTACT</p>
          <ui >
            <li class="footer_text">email</li>
            <li class="footer_text">phone</li>
            <li class="footer_text">address</li>
          </ui>
        </div>
        <div class="footer_department">
          <p class="footer_title">DEPARTMENT</p>
          <ui >
            <li class="footer_text">Computer Science</li>
            <li class="footer_text">Management</li>
            <li class="footer_text">Engineering</li>
          </ui>
        </div>
        <div class="footer_language">
          <p class="footer_title">LANGUAGE</p>
          <ui >
            <li class="footer_text">email</li>
            <li class="footer_text">phone</li>
            <li class="footer_text">address</li>
          </ui>
        </div>
        <hr class="footer_hr">
        <div class="footer_text footer_logo">© 2018 NTUSTMI</div>
        <img class="banner" height="100%"src="/images/3.jpg" alt="">
      </div>
  
</body>
</html>